<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/" aria-label="Home">
    <mat-icon>home</mat-icon>
  </a>
  <span class="spacer"></span>

  <div class="nav-links">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/catalog">Catálogo</a>
    <a mat-button routerLink="/custom">Personalizar</a>
    <ng-container *ngIf="user$ | async">
      <a mat-button routerLink="/cart">Carrinho</a>
      <a mat-button routerLink="/orders">Pedidos</a>
    </ng-container>
    <a mat-button routerLink="/support">Suporte</a>
    
    <ng-container *ngIf="!(user$ | async); else userMenu">
      <a mat-button routerLink="/auth/login">Entrar</a>
    </ng-container>
    <ng-template #userMenu>
      <button mat-button (click)="logout()">Sair</button>
    </ng-template>
  </div>

  <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/">Home</a>
  <a mat-menu-item routerLink="/catalog">Catálogo</a>
  <a mat-menu-item routerLink="/custom">Personalizar</a>
  <ng-container *ngIf="user$ | async">
    <a mat-menu-item routerLink="/cart">Carrinho</a>
    <a mat-menu-item routerLink="/orders">Pedidos</a>
  </ng-container>
  <a mat-menu-item routerLink="/support">Suporte</a>
  <a *ngIf="!(user$ | async)" mat-menu-item routerLink="/auth/login">Entrar</a>
  <button *ngIf="user$ | async" mat-menu-item (click)="logout()">Sair</button>
</mat-menu>

<main class="page">
  <router-outlet></router-outlet>
</main>